<div class="container py-5">
  <h1 class="display-4 text-center" >Nos biens immobiliers</h1>
  <div class="row mt-5">
    <div class="col-sm-12 col-md-6 col-lg-4" *ngFor="let property of properties; let i = index">
      <div class="card" style="width: 18rem;" (click)="onGoToSingleProperty(i)">
        <div *ngFor="let photo of property.photos; let first = first">
          <img class="card-img-top h-100" *ngIf="first" [src]="photo" alt="">
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ property.title }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ property.category }}</h6>
          <!-- <p class="card-text">{{ property.description }}</p> -->
          <p class="card-text">
            {{ property.category }}<span *ngIf="property.surface && property.surface !== ''"> de {{ property.surface }} m²</span><span *ngIf="property.rooms && property.rooms !== ''">, {{ property.rooms }} pièce(s)</span>.
          </p>
          <p class="card-text">
            {{ property.price }}€
          </p>
          <p [ngStyle]="{color: getSoldValue(i)}">
            <span *ngIf="!property.sold">A vendre</span>
            <span *ngIf="property.sold">Vendu!</span>
          </p>
          <div class="text-center">
            <button class="btn btn-primary" type="button" [routerLink]="['/property', i]">voir ce bien</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
